<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoSaida">
            <h2><span>Tipo Saida</span> {{tipoSaida.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cod T Saida</span></dt>
                <dd>
                    <span>{{tipoSaida.codTSaida}}</span>
                </dd>
                <dt><span>Desc T Saida</span></dt>
                <dd>
                    <span>{{tipoSaida.descTSaida}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-saida', tipoSaida.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
