<div>
    <h2 id="page-heading">
        <span>Funcionarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-funcionario" [routerLink]="['/funcionario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Funcionario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="funcionarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Cod Funcionario</span></th>
            <th><span>Carteira Trabalho</span></th>
            <th><span>Data Entrada</span></th>
            <th><span>Data Saida</span></th>
            <th><span>Pessoa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let funcionario of funcionarios ;trackBy: trackId">
                <td><a [routerLink]="['/funcionario', funcionario.id, 'view' ]">{{funcionario.id}}</a></td>
                <td>{{funcionario.codFuncionario}}</td>
                <td>{{funcionario.carteiraTrabalho}}</td>
                <td>{{funcionario.dataEntrada | date:'mediumDate'}}</td>
                <td>{{funcionario.dataSaida | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="funcionario.pessoa">
                        <a [routerLink]="['../pessoa', funcionario.pessoa?.id, 'view' ]" >{{funcionario.pessoa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/funcionario', funcionario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/funcionario', funcionario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'funcionario/'+ funcionario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
