<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-aluno-heading">Create or edit a Aluno</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!aluno.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="aluno.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codAluno">Cod Aluno</label>
                    <input type="number" class="form-control" name="codAluno" id="field_codAluno"
                        [(ngModel)]="aluno.codAluno" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataEntrada">Data Entrada</label>
                    <div class="input-group">
                        <input id="field_dataEntrada" type="text" class="form-control" name="dataEntrada" ngbDatepicker  #dataEntradaDp="ngbDatepicker" [(ngModel)]="aluno.dataEntrada"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataEntradaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataSaida">Data Saida</label>
                    <div class="input-group">
                        <input id="field_dataSaida" type="text" class="form-control" name="dataSaida" ngbDatepicker  #dataSaidaDp="ngbDatepicker" [(ngModel)]="aluno.dataSaida"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataSaidaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" [(ngModel)]="aluno.pessoa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === aluno.pessoa?.id ? aluno.pessoa : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
